/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
body {
  background-color: #ffffff;
  font-style: normal;
  color: #00000;
}
  h4 {
    text-align: center;
  }
  /*' abc is about charater'*/
p {
  font-size: medium;
}

.myimgac {
  font-style: oblique;
  color: aquamarine;
}
.myqf {
  /* my quote form */
  /* outline css */
  border-radius: 30px;

  /* basic css */
  display: inline-block;
  text-align: center;
  padding: 50px 100px;
  color: white;
  background-color: #00000052;
  font-style: oblique;
  font-size: 2rem;
  font-weight: 600;
}