/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

.myimg {
  background-color: #000000;
  color: #ffffff;
  max-width: 550px;
  margin: 0 left;
  border: 3px solid #12c56b;
  border-top: 10px solid #12c56b;
  align-content: right;
}
.cont {
    background-color: #f4f4f4;
    color: #000000;
    max-width: auto;
    margin: 0 auto;
    border: 5px solid #12c56b;
    align-content: center;
  }
  h4 {
    text-align: center;
  }
  /*' abc is about charater'*/
.myabc {
  font-size: large;
  border-bottom: 1px #12c56b;
}
table {
  size: auto;
  border-color: #12c56b;
}